/**
 *components.css
 *
 * /// - Mobile-First Approach -///
 *Index
 *
 * - Variables ()
 * - Hero ()
 * - Cards ()
 * - Footer ()
 * //
 * - Tablet-Version ()
 * - Desktop-Version ()
 *
 **/

/***
 * 
 * Variables
 *
***/

:root {
    /* Typhography */

    /** Fonts */
    --ff-general: 'Kumbh Sans', sans-serif;

    /*** Fontsizes */
    --fs-h1: 3.5rem;
    --fs-h2: 1.25rem;
    --fs-h3: 1rem;
    --fs-body-primary: 1.125rem;
    --fs-body-secondary: 1rem;

    /*** Line heights */
    --lh-h1: 4rem;
    --lh-h2: 2rem;
    --lh-h3: 3rem;
    --lh-body: 1.75rem;
   
     /* Colors */
    --clr-darkblue: #5175ff;
    --clr-lightblue: #829cff;
    --clr-mediumdark: #333950;
    --clr-dark: #25293a;
    --clr-grey: #747b95;
    --clr-red: #f05b5b;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

